__pycache__/
*.pyc
*.cache

datasets_exported_from_cvat/

# Ignore mp4 video files
*.mp4

# Ignore .idea folder
.idea/

# Ignore symlinked files in combined testset
datasets/combined_testset/validation/images/*
datasets/combined_testset/validation/labels/*